
@{
    ViewBag.Title = "ProcessOrder";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container my-5" style="min-height: 60vh">
    <h2>Thank you for using our service</h2>
    <br />
    @Html.ActionLink("Back to main page", "Index", "Home")
</div>

