<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        Thank you for joining OnlineLaundry
    </div>
    <p>Your verification code is: @ViewBag.Code</p>
    <a href="@ViewBag.ConfirmLink">Follow this link to verify your account</a>
</body>
</html>
